@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --color-bkg: 224deg 46% 12%;
    --color-content: 217deg 32.6% 17.5%;
    --color-accent1: 288deg 95.8% 90.6%;
    --color-accent2: 168deg 83.8% 78.2%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 224deg 46% 12%;
      --color-content: 210deg 40% 98%;
      --color-accent1: 288deg 95.8% 60.6%;
      --color-accent2: 168deg 83.8% 48.2%;
    }
  } */

  :root[data-theme="dark"] {
    --color-bkg: 224deg 46% 12%;
    --color-content: 210deg 40% 98%;
    --color-accent1: 288deg 95.8% 60.6%;
    --color-accent2: 168deg 83.8% 48.2%;
  }

  :root[data-theme="cool"] {
    --color-bkg: 210deg 40% 48%;
    --color-content: 217deg 32.6% 17.5%;
    --color-accent1: 288deg 95.8% 20.6%;
    --color-accent2: 168deg 83.8% 98.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.light-cursor {
  position: fixed;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(circle,
      rgba(18, 31, 69, 0.4) 0%,
      rgba(18, 31, 69, 0) 70%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: 0.1s ease;
  mix-blend-mode: screen;
}

::selection {
  background-color: rgb(20 184 166 / 1);
  color: rgb(0, 0, 0, .8);

}

::-moz-selection {
  background-color: rgb(20 184 166 / 1);
  color: rgb(0, 0, 0, .8);
}